*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

header{
    position: relative;
    /* height: 700px; */
    background-color: #b4d0e7;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* NAVIGATION START */

.top-bar.clearfix{
    height: 70px;
    padding: 10px 10px 0 10px ;
    background-color: white;
}

.fl{
    float: left;
}

nav > ul{
    height: 35px;
    line-height: 25px;
    padding-top: 10px;
}

.logo{
    /* background-color: coral; */
    width: 10%; 
}

.question{
    /* background-color: darkgoldenrod; */
    width: 40%;
}

.login{
    /* background-color: chocolate; */
    width: 50%;
    text-align: right;
}

li{
    list-style: none;
}

.part.fl li{
    display: inline-block;
}

.question li, .login li{
    margin-right: 25px;
}

/* NAVIGATION FINISH */

/* button utility start */
.button{
    background-color: #0061ff;
    color: white;
    border: none;
}

.button.start{
    padding: 5px 12px;
}

.free-test{
    margin: 20px 0 5px 0;
    padding: 10px 15px;
}

.arrow{
    margin-top: 20px;
    font-size: 42px;
    border: none;
    background-color: #b4d0e7;
}

.days-30{
    padding: 10px 35px;
    font-size: 14px;
    margin-bottom: 15px;
}

.office-contact {
    width: 100%;
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 10px 12px;
}

.partner-search{
    padding: 7px 14px;
    border: 1px solid black;
}
/* button uitility finish */

.container{
    max-width: 1250px;
    height: 600px;
    margin: 0 auto;
    padding-top: 40px;
}

.title-header{
    font-size: 60px;
    font-weight: bold;
}

.text-header{
    margin-top: 30px;
    max-width: 330px;
    font-size: 16px;
}

.text-after{
    font-size: 12px;
}

.left-container{
    height: 300px;
    width: 350px;
    padding-top: 30px;
    line-height: 25px;
}

.picture-container.fl img{
    margin:20px 0 0 50px;
    width: 850px;
    height: 450px;
    line-height: 25px;
}

/* start Main-Box1 */
.box.dropbox{
    margin: 0 auto;
    padding-top: 150px;
    max-width: 1100px;
    /* background-color:palegreen */
}

.title-dropbox > h2{
    font-size: 48px;
    font-weight: 900;
}

.input-dropbox{
    margin-top: 20px;
}

.input-dropbox > span{
    margin-right: 10px;
}

.title-dropbox, .enterprise-contact {
    width: 100%;
}

.section{
    width: calc(100% / 3 );
    padding: 30px 0;
    height: 1000px;
    line-height: 25px;
    /* background-color:forestgreen; */
}

.section.lf{
    padding-right: 30px;
}

.section.centr{
    padding-left: 15px;
    padding-right: 15px;
}

.section.rt{
    padding-left: 30px;
}

.itemp{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /* background-color: gold; */
}

.intern{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
}

.intern h4{
    text-align: center;
    line-height: 60px;
}

.contenuto{
    padding: 30px 40px;
}

.contenuto li{
    list-style: none;
    margin-bottom: 20px;
}

.titl-price{
    line-height: 40px;
    margin-bottom: 40px;
}


.test-days{
    margin-bottom: 30px;
}

.contenuto hr{
    max-width: 60px;
    margin-bottom: 30px;
}

.offers span{
    color: royalblue;
}

.enterprise-contact{
    height: 250px;
    border: 1px solid black;
}

.team.intern-down{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 30px;
}

.voices{
    padding: 30px 30px;
}

.voices.l{
    width: 70%;
}

.voices.r{
    width: 30%;
}
/* finish Main-Box1*/

.picture-2{
    width: 50%;
}

.picture-2 img{
    max-width: 100%;
}

.text-2{
    width: 50%;
    padding: 140px 100px;
    line-height: 25px;
    /* background-color:darkolivegreen */
}

/* START box with 6 floats */

.titl-operations{
    /* background-color: orange; */
    font-size: 32px;
}

.actions{
    width: calc(100% / 3 - 20px );
    height: 500px;
    margin-top: 70px;
    /* border: 1px solid black; */
}   

.actions.centr{
     margin: 70px 30px 0 30px;
}

.picture-actions img{
    max-width: 100%;
}

.explain-actions{
    margin-top: 20px;
}
/* FINISH box with 6 floats */

.box.dropbox.team{
    padding-top: 50px;
}

.team > div{
    margin-bottom: 20px;
}

/* box-griglia START */

.box-griglia{
    max-width: 100%;
    padding-top: 50px;
}

.square-logo{
    width: calc(100% / 3);
    height: 527.66px;
}


.quote{
    padding: 70px 50px;
    background-color: rgb(241, 241, 241);
}

.quote hr{
    max-width: 60px;
    color: gray;
}

.brand-picture-quote{
    width: 120px;
    margin-bottom: 30px;
}

.paragraph-quote{
    padding-top: 50px;
    line-height: 25px;
}

.quote-name{
    margin-top: 100px;
}

.brand-logo{
    position: relative;
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.brand-logo.designit{
    background-color: #a2d39b;;
}

.brand-logo.Asu{
    background-color: #61082b;;
}

.brand-logo.UF{
    background-color: #0093ce;;
}

.brand-logo.Topps{
    background-color: #ff1c1c;
}

.brand-logo.world-bicycle{
    background-color: #d5001f;;
}

.brand-logo.hearst{
    background-color: #b4d0e7;
}

.brand-logo.lonley-planet{
    background-color: #0d2481;
}

.brand-logo.clear-channel{
    background-color: #ffd830;
}

.brand-logo-picture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    filter: invert(1);
}

.brand-logo-picture img{
    width: 100%;
}

.brand-logo-picture.asu{
    width: 100px;
}

/* FINISH Box Griglia */

.box-azienda{
    background-color: #b4d0e7;
    height: 300px;
}

.box-azienda-inside{
    width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
}

.azienda-part.one{
    width: 70%;
}

.azienda-part.two{
    padding-top: 15px;
    width: 30%;
}

.azienda-part.one h2{
    font-size: 48px;
    color: #61082b;
    max-width: 650px;
}

.azienda-part.two a button{
    font-size: 14px;
    padding: 5px 15px
}

/*  */

.box.dropbox.questions{
    height: 500px;
}

.questions-title{
    height: 80px;
    border-bottom: 1px solid gray;
    font-size: 24px;
}

.questions-line{
    position: relative;
    border-bottom: 1px solid gray;
    line-height: 60px;
}

.questions-line::after{
    content: "\21D3";  
    position: absolute;
    right: 5px;
}

/* Start footer */

footer{
    padding-top: 150px;
}

.footer-color{
    background-color: black;
    height: 650px;
}

.bottom-menu.column{
    width: calc(100% / 5 - 30px );
    margin: 0 15px 0 15px;
    line-height: 30px;
    color: white;
    font-size: 14px;
    padding-bottom: 100px;
}

.column-list{
    padding-top: 10px;
}















