*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

header{
    position: relative;
    /* height: 700px; */
    background-color: #b4d0e7;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* NAVIGATION START */

.top-bar.clearfix{
    height: 70px;
    padding: 10px 10px 0 10px ;
    background-color: white;
}

.fl{
    float: left;;
}

.logo{
    /* background-color: coral; */
    width: 10%; 
}

.question{
    /* background-color: darkgoldenrod; */
    width: 40%;
}

.login{
    /* background-color: chocolate; */
    width: 50%;
    text-align: right;
}

.part.fl li{
    display: inline-block;
}

.logo{
    padding-top: 10px;
}

.question li, .login li{
    padding-top: 15px;
    margin-right: 25px;
}

/* NAVIGATION FINISH */

/* button utility start */
.button{
    background-color: #0061ff;
    color: white;
    border: none;
}

.button.start{
    padding: 5px 12px;
}

.free-test{
    margin: 20px 0 5px 0;
    padding: 10px 15px;
}

.arrow{
    margin-top: 20px;
    font-size: 42px;
    border: none;
    background-color: #b4d0e7;
}

.days-30{
    padding: 10px 35px;
    font-size: 14px;
    margin-bottom: 15px;
}
/* button uitility finish */

.container{
    max-width: 1250px;
    height: 600px;
    margin: 0 auto;
    padding-top: 40px;
}

.title-header{
    font-size: 60px;
    font-weight: bold;
}

.text-header{
    margin-top: 30px;
    max-width: 330px;
    font-size: 16px;
}

.text-after{
    font-size: 12px;
}

.picture-container.fl img{
    margin:20px 0 0 50px;
    width: 850px;
    height: 450px;
}

/* start Main-Box1 */
.box.dropbox-business{
    margin: 0 auto;
    padding-top: 150px;
    max-width: 1100px;
}

.title-dropbox > h2{
    font-size: 48px;
    font-weight: 900;
}

.input-dropbox{
    margin-top: 20px;
}

.input-dropbox > span{
    margin-right: 10px;
}

.title-dropbox, .enterprise-contact {
    width: 100%;
    /* background-color: darksalmon; */
}

.section{
    width: calc(100% / 3 );
    padding: 30px 0;
    height: 900px;
    /* background-color:forestgreen; */
}

.section.lf{
    padding-right: 30px;
}

.section.centr{
    padding-left: 15px;
    padding-right: 15px;
}

.section.rt{
    padding-left: 30px;
}

.itemp{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /* background-color: gold; */
}

.intern{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
}

.intern h4{
    text-align: center;
    line-height: 60px;
}

.contenuto{
    padding: 30px 40px;
}

.contenuto li{
    list-style: none;
    margin-bottom: 20px;
}

.titl-price{
    line-height: 40px;
    margin-bottom: 40px;
}


.test-days{
    margin-bottom: 30px;
}

.contenuto hr{
    max-width: 60px;
    margin-bottom: 30px;
}

.offers span{
    color: royalblue;
}














